<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col mt-4">
      <img src="{{ 'assets/' + book.imageLink }}" alt="" />
    </div>
    <div class="col align-items-center mb-4">
      <h1 class="text-info mt-4">{{ book.title }}</h1>
      <h5 class="mb-4">{{ book.price | currency }}</h5>
      <h5 class="mb-4">Author: {{ book.author }}</h5>
      <h5 class="mb-4">Pages: {{ book.pages }}</h5>
      <h5 class="mb-4"><strong>ISBN</strong>:{{ book.ISBN }}</h5>
      <p class="text-bold">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero minima,
        voluptas saepe labore a ipsa assumenda illum molestias. Repudiandae
        labore ad accusamus laboriosam. Eaque iure molestias corrupti
        dignissimos cumque magni.
      </p>
      <div>
        <button class="btn btn-warning mx-2" (click)="addToCart(book)">
          Add to Cart
        </button>
        <button class="btn btn-warning mx-2" (click)="buyNow(book)">
          Buy Now
        </button>
      </div>
    </div>
  </div>
</div>
